body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

header {
	}

/*-----HEADER SOCIAL ICONS-----*/
	header ul.social {
		float:right;
		display:block;
		list-style-type: none;
		padding: 20px;
	}
	header ul.social li {
		float: left;
	}
	ul.social li a {
		display:block;
		background-image:url(../images/icons2.png); 
		width:60px;
		height: 60px;list-style-type: none;
	}
	
	/*first value is X, second value is Y*/
	ul.social .googleplus a {background-position:0px 60px;}
	ul.social .deviantart a  {background-position:-60px 60px;}
	ul.social .facebook a {background-position:-120px 60px;}
	ul.social .twitter a {background-position:-180px 60px;}
	
	
	ul.social .googleplus a:hover {background-position:-0px 0px;}
	ul.social .deviantart a:hover  {background-position:-60px 0px;}
	ul.social .facebook a:hover {background-position:-120px 0px;}
	ul.social .twitter a:hover {background-position:-180px 0px;}
	
	
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
	
	
	